/*
 * Styles specific to a local installation.
 *
 * Configure to be utilized in /config/config.php as follows:
 * $conf['settings']['css.extension.file'] = '/Web/css/custom.css';
 */

/* Hide language switcher, as we customized German translations to our usecase, outdating others. */
#change-language {
  display: none;
}

/* Hide the "Overview" menu item, since we simply do not need it and it also shows information 
   about resources that users should not be able to see. */
#navDashboard {
  display: none;
}

/* Hide the "Alle Werkstattpläne" calendar link, as we have now menu items pointing to the specific calendars. */
#navResourceCalendar {
  display: none;
}

/* Hide the "Schedule -> My Calendar" menu item. It is confusing as people will wonder why the 
   calendar is empty when they accidentally arrive here. */
#navMyCalendar {
  display: none;
}

/* Hide the "Schedule -> Find a time" menu item, since we have no use for it in our case. */
#navFindATime {
  display: none;
}

/* Hide the "Schedule -> Bookings" menu item, since we have no use for it in our case. */
#navBookings {
  display: none;
}

/* Hide the "Schedule -> Find Reservations" menu item until an issue with its templates is fixed upstream. */
#navFindAReservation {
  display: none;
}

/* More compact rendering of the calendar chooser rows. */
/* (Note: #select2-calendarFilter-results only exists while the dropdown is open.) */
#select2-calendarFilter-results .select2-results__option {
  padding: 2px;
  line-height: 12px;
}

/* Additional formatting for the resources in the calendar chooser dropdown. */
#select2-calendarFilter-results .select2-results__option .schedule {
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  font-weight: bold;
}

/* Additional formatting for the resources in the calendar chooser dropdown. */
#select2-calendarFilter-results .select2-results__option .resource {
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

